/node_modules
/bower_components
/instant.io
/public/storage
/vendor
/.idea
Homestead.json
Homestead.yaml
.env

/my-y-websockets-server/node_modules
/torrent_client/node_modules
/signalmaster/node_modules
/signalmaster
composer.lock
npm-debug.log
public/cdn/
public/js/vendor.js
public/js/vendor.js.map

